html,
body {
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px dashed #ccc;
    margin: 6px;
}

#design-loader {
    padding: 10px;
    background: #66e3ff;
    border-radius: 10px;
    margin: 10px;
}

#font-family,
#design-text-container,
#design-text-container input,
#design-color-container {
    margin: 5px;
}

#design-color-container span {
    display: inline-block;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    margin: 5px;
}

.gallery {
    margin: 10px;
}

.gallery img {
    margin: 5px;
}

#preview-img {
    display: block;
    margin: auto;
    height: 400px;
    width: 400px;
}

#export:disabled,
#btn-close:disabled,
#icon-close:disabled {
    cursor: not-allowed
}

#export-success,
#export-error {
    position: absolute;
    top: 10px;
    right: 10px;
}

.field-container {
    padding: 8px;
    border: 2px solid #ccc;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.selected-color {
    width: 32px;
    height: 32px;
    margin: 0 5px;
    background-color: black;
}

.loader {
    font-weight: bold;
    color: #2c2c2c;
    font-size: 18px;
    text-align: center
}

.hourglass {
    display: inline-block;
    background: #fff;
    margin: -6px 6px;
    width: 0.75em;
    height: 1.5em;
    box-shadow: inset #fff 0 0 0 0, inset #00b7c6 0 2em 0 0, inset #fff 0 0 4em 0;
    animation: hourglass 1s linear infinite;
}

.outer {
    fill: #00b7c6;
}

.middle {
    fill: #fff;
}

@keyframes hourglass {
    0% {
        transform: rotate(0deg);
        box-shadow:
            inset #fff 0 0 0 0,
            inset #00b7c6 0 2em 0 0,
            inset #fff 0 4em 0 0,
            inset #00b7c6 0 4em 0 0;
    }

    80% {
        transform: rotate(0deg);
        box-shadow:
            inset #fff 0 2em 0 0,
            inset #00b7c6 0 2em 0 0,
            inset #fff 0 2em 0 0,
            inset #00b7c6 0 4em 0 0;
    }

    100% {
        transform: rotate(180deg);
        box-shadow:
            inset #fff 0 2em 0 0,
            inset #00b7c6 0 2em 0 0,
            inset #fff 0 2em 0 0,
            inset #00b7c6 0 4em 0 0;
    }
}